<?php

/* * *******************************************************************************
 * * The contents of this file are subject to the vtiger CRM Public License Version 1.0
 * ("License"); You may not use this file except in compliance with the License
 * The Original Code is:  vtiger CRM Open Source
 * The Initial Developer of the Original Code is vtiger.
 * Portions created by vtiger are Copyright (C) vtiger.
 * All Rights Reserved.
 *
 * ****************************************************************************** */

require_once('include/utils/utils.php');
require_once('include/logging.php');
/* Creator:- Divyesh Chothani
 * Comments:- Expriration Date Updation of DemoAccount
 * Date:- 11-01-2017
 */

global $adb, $log;
$max_ib_level = configvar('max_ib_level');
$commissionData = getTrades();
saveTradeCalculation($commissionData);

?>
