<?php

/* * *******************************************************************************
 * * The contents of this file are subject to the vtiger CRM Public License Version 1.0
 * ("License"); You may not use this file except in compliance with the License
 * The Original Code is:  vtiger CRM Open Source
 * The Initial Developer of the Original Code is vtiger.
 * Portions created by vtiger are Copyright (C) vtiger.
 * All Rights Reserved.
 *
 * ****************************************************************************** */

require_once('include/utils/utils.php');
require_once('include/logging.php');

global $adb, $log;
$log =& LoggerManager::getLogger('SendPortalPasswordToAllContacts');
$log->debug("invoked SendPortalPasswordToAllContacts");

$currentDate = date('Y-m-d');
$currentDateStrTime = strtotime($currentDate);

$db = PearDatabase::getInstance();

$query = "SELECT crmid FROM vtiger_crmentity WHERE setype = 'Contacts' and deleted = 0";
$contactsResult = $db->pquery($query, array());
$noOfContacts = $db->num_rows($contactsResult);

if($noOfContacts > 0)
{
    for($i=0; $i<$noOfContacts;$i++)
    {
        $contacts[] = $db->query_result($contactsResult, $i, 'crmid');
    }
}
//pr($contacts);
//$contacts = array(13812, 18620);
    foreach($contacts as $contactId)
    {
        $mailResult = resendPortalPassword($contactId);
        if(!$mailResult)
        {
            echo $contactId.' - Mail send error!';
    }
}


?>
